.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.navbar-brand {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    margin-left: 20px;
}

.navbar-nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar-nav a:hover {
    color: #ccc;
}

/* Стили для кнопки меню */
.navbar-toggler {
    display: none; /* Скрываем кнопку по умолчанию */
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
    .navbar-toggler {
        display: block; /* Показываем кнопку на мобильных устройствах */
    }

    .navbar-nav {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #333;
        flex-direction: column;
        align-items: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }

    .navbar-nav.active {
        max-height: 300px; 
        transition: max-height 0.5s ease-in;
    }

    .navbar-nav li {
        margin: 10px 0;
    }
}