body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f0; /* Светло-зеленый фон */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}